@{
  Layout = "_Layout";
}

@using Shelter.Models;
@model List<Shelter.Models.Animal>;

<h1>Animals</h1>

<ul>
  @foreach(Animal animal in Model)
  {
      <li>@Html.ActionLink($"{animal.Name}", "Details", new { id = animal.AnimalId })</li>
  }
</ul>

<p>@Html.ActionLink("Add new Animal", "Create")</p>
